@font-face {
  font-family: Text;
  src: url(./assets/fonts/ITC\ Avant\ Garde\ Gothic\ Medium.otf);
}

*{
  margin: 0%;
  padding: 0%;
  color: #121515;
  font-family: Text;
}
.container{
  background-color: #FF5349;
  width: 100%;
  height: 800px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:40px;
  gap: 15px;
}
.logo h1 {
  font-size: 40px;
  color: #ffff;
}
.text-container{
  margin-top: 70px;
  margin-left: 100px;
  width: 42%;
  font-family:Text;

}
.text-container h1{
  font-size: 75px;
  font-weight: 600;
      color: #fff;

}
.text-container p {
  margin: 10px;
      color: #fff;

}
.text-container button{
  padding: 20px 45px;
  border-radius: 10px;
  margin-top: 10px;
  color: #FF5349;
  border: none;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}
.text-container button:hover{
  

}
.banner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 200px;
}
.mobile-img{
  width: 30%;
  display: flex;
}

.mobile-cover{
  flex-direction: row;
  width: 85%;
  height: 700px;
  background-color: #121515;
  border: solid 5px #222222;
  margin-top: 60px;
  border-radius: 30px;
    box-shadow: 10px 20px 10px #00000033;  
    margin-bottom: 20px;

}
.mobile-cover img{
  width: 93%;
  margin: 5px;
  border-radius: 7%;
  height: 690px;
}
.vol-btn{
  background-color: #121515;
  width: 2px;
  border-radius: 5px;
  height: 90px;
  margin-top: 200px;
}
.pwr-btn{
  background-color: #121515;
  width: 2px;
  border-radius: 5px;
  height: 50px;
  margin-top: 320px;
  margin-left: -2px;
}
.camera{
  width: 12px;
  height: 11px;
  border-radius: 50%;
  background-color: hsl(180, 8%, 8%);
  margin-top: 80px;
  margin-left: -210px;
  border: solid 5px #222222;
}
.comnt {
  width: 280px;
  height: 70px;
  background-color: #ffff;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  font-size: 20px;
  font-weight: 600;
 margin-left: -280px; 
 margin-top: 101px;
 box-shadow: 5px 20px 10px #00000033;  
}
.comnt2{
  width: 250px;
  height: 70px;
  background-color: #ffff;
  border-radius: 10px;
  text-align: center;
  align-content: center;
  font-size: 20px;
  font-weight: 600;
 margin-top: 591px;
 box-shadow: 5px 20px 10px #00000033;  

}

/* main section*/
main{
    background-color: #F2F2F2;

}
.heading{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  
}
.heading h1{
  font-size: 60px;
}
.heading h3{
  font-size: 20px;
  font-weight: 600;
}
.cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  /* gap: 50px; */
}
.cards{
  display: flex;
  margin: 10px 20px;
  width: 350px;
  flex-direction: column;
  padding: 20px 20px;
  background-color: #F2F2F2;
  font-size: 10px;
  border-radius: 15px;
  color: #1A293C;
  gap: 30px;
  justify-content: center;
  align-items: center;
  box-shadow:2px 2px 4px 0px #00000033;  
}
.cards h1{
  padding-top: 20px;
}
.cards p{
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
  padding: 0px 25px;
}